<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/layout/main" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item px-5"><a routerLink="/layout/history" class="nav-link btn-outline-success">history</a></li>
        <button class="nav-item btn btn-outline-danger text-black" (click)="logout()">Logout</button>
      </ul>
    </header>
  </div>
<router-outlet></router-outlet>-
